@font-face {
    font-family: Supercell;
    src: url(fonts/Supercell-magic-webfont.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 50%;
}

li, a {
    font-family: Supercell, sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}
header {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    opacity: 1;
    z-index: 2;
}


.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-block;
}

.nav_link li a:hover {
    color: goldenrod;
}
/*Backgroundimage*/
.section1{
    padding-top: 500px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("StrategiesImages/BGStrategies.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center, center;
}
/*BGimage Description*/
#introtext1{
    font-family: Supercell, sans-serif;
    font-size: 45px;
    text-align: justify;
    letter-spacing: 0.1em;
    color: white;
    padding-left: 50px;
    padding-bottom: 25px;
}


#Strategiesquote{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 0.1em;
    line-height: 1.6;
    color: white;
    padding-left: 50px;
    padding-bottom: 50px;
}

/*Second section*/
.section2 {
    display: grid;
    background-color: white;
    grid-template-columns: 60% auto;
    grid-template-rows: 1/3 2/3 3/3;
    grid-template-areas: 
        "intro1container logocontainer"
        "intro2container logocontainer"
        "intro3container logocontainer"
}

#intro1container {
    grid-area: intro1container;
    padding-top: 10%;
    padding-left: 10%;
    width: 70%;
}

#intro2container {
    grid-area: intro2container;
    padding-left: 10%;
    width: 70%;
}

#intro3container {
    grid-area: intro3container;
    padding-left: 10%;
    width: 70%;
}

#logocontainer {
    grid-area: logocontainer;
}

#intro1 {
    font-family: Supercell, sans-serif;
    text-align: justify;
}

#intro2 {
    font-family: Supercell, sans-serif;
    text-align: justify;
}

#intro3 {
    font-family: Supercell, sans-serif;
    text-align: justify;
}

#logo {
    width: 80%;
    height: auto;
    padding-right: 0;
}

/*THIRD SECTION*/
#background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 25px;
    margin: 25px;
    height: fit-content;
}

section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("StrategiesImages/bottomBG2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding: 5%;
    height: 120pc;
  
  
    

}

/*Youtube embedded*/
.iframe1{
 position: relative;
 padding-left: 10pc;
 padding-top:0;
 justify-content: space-between;
 padding: 5%;
 height: 30pc;
 aspect-ratio: 16/9;
}
.Vid1{
    font-family: Supercell, sans-serif;
    font-size: 50px; 
    text-align: center;
    color: white;
}

/*FOOTER*/
footer {
    overflow-x: hidden;
}

.footerElement1{
    background-color: black;
    display: grid;
    padding-top: 5%;
    padding-bottom: 3%;
    grid-template-columns: 25% auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "logoAndMotto explore connect cs"
        "logoAndMotto explore social nl"
}

.logoAndMotto {
    grid-area: logoAndMotto;
}

.exploreContainer {
    grid-area: explore;
}

.connectContainer {
    grid-area: connect;
}

.socialContainer {
    grid-area: social;
}

.csContainer {
    grid-area: cs;
}

.newsLetterContainer {
    grid-area: nl;
    display: grid;
    grid-template-columns:  auto 60%;
    grid-template-rows: auto 80%;
    grid-template-areas: 
        "nlTitle nlTitle"
        "nl1 nl2" 
}

#nlTitle {
    grid-area: nlTitle;
}

#subscribe {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#nl1 {
    grid-area: nl1;
    width: 100%;
}

#nl2 {
    width: 100%;
    grid-area: nl2;
}

.copyrightContainer {
    background-color: gray;
}

.copyrightContainer > p {
    color: white;
}

.footerTitle {
    font-family: Supercell, sans-serif;
    font-size: 15px;
    color: white;
}

.footerList > li {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: white;
    padding-top: 0;
    padding-left: 0;
    list-style: none;
    line-height: 1.5;
}

#motto {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
    font-style: italic;
    line-height: 1.6;
}

#footerLogo {
    width: 80%;
    height: auto;
    object-position: center;
}

#footerLogoContainer {
    text-align: center;
}

#socials {
    width: 30%;
    height: auto;
    margin-top: 1%;
}

.footerElement2 {
    background-color: darkgray;
}